.env
chat_history/defaultchat.json
config.json
settings.json
chats.db
retrochat-unit-tests.py
__pycache__/
.aider*
retrochat.spec
retrochat_env/
.venv/
build/
/rules
.cursorignore
/venv
venv/
installed.txt
/myvenv
__pycache__/config.cpython-313.pyc
