.env
chat_history/defaultchat.json
config.json
settings.json
chats.db
retrochat-unit-tests.py
__pycache__/retrochat.cpython-312.pyc
.aider*
retrochat.spec
retrochat_env/
.venv/
__pycache__/hook-tiktoken.cpython-312.pyc
build/
/rules
test_retrochat.py
__pycache__/test_retrochat.cpython-312-pytest-8.3.2.pyc
