.env
chat_history/defaultchat.json
config.json
settings.json
chats.db
retrochat-unit-tests.py
__pycache__/retrochat.cpython-312.pyc
.aider*
retrochat.spec
build/retrochat/Analysis-00.toc
build/retrochat/localpycs/struct.pyc
build/retrochat/localpycs/pyimod04_pywin32.pyc
build/retrochat/localpycs/pyimod03_ctypes.pyc
build/retrochat/localpycs/pyimod02_importers.pyc
build/retrochat/localpycs/pyimod01_archive.pyc
build/retrochat/xref-retrochat.html
build/retrochat/warn-retrochat.txt
build/retrochat/retrochat.pkg
build/retrochat/PYZ-00.toc
build/retrochat/PYZ-00.pyz
build/retrochat/PKG-00.toc
build/retrochat/EXE-00.toc
build/retrochat/base_library.zip
retrochat_env/
.venv/