aiohttp==3.10.4
anthropic==0.34.0
chromadb==0.5.5
google-generativeai==0.7.2
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-chroma==0.1.2
langchain-text-splitters==0.2.2
prompt-toolkit==3.0.47
pyperclip==1.9.0
pypdf==4.3.1
python-dotenv==1.0.1
requests==2.32.3
rich==13.7.1
tiktoken==0.7.0
unstructured==0.15.5
unstructured[pdf]==0.15.5