aiohttp
anthropic
chromadb
google-generativeai
langchain
langchain-community
langchain-core
langchain-chroma
langchain-text-splitters
prompt-toolkit
pyperclip
pypdf
python-dotenv
requests
rich
tiktoken
unstructured
"unstructured[pdf]"